.table {
  margin: 0 auto;
  border: dashed 0.1ex;
  width: 90%;
  margin-top: 2em;
}

.table td {	
	margin: 0em;
	padding: 0em;
	padding-top: 1ex;
}

.day {
  width: 10em;
  border: dashed 0.1ex;
  text-align: center;
  vertical-align: middle;
}

.daywe {
	background-color: AAAAAA;
}
.daynone {
	background-color: DDDDDD;
}
.dayhalf {
	background-color: EEEEEE;
}
.dayfull {
	background-color: white;
}

.tdTitle {
	width: 50em;
	text-align: left;
	border: none;
	padding: 1ex;
}

.tdTotal {
	text-align: right;
}

.resume {
	margin-top: 1em;
	border: none;
	width: 30%;
}
.resume td {
	text-align: left;
	border: none;
}

#codes {
	float: none;
	margin-top: 2em;
	border: dashed;
	width: 40%;
	height: 10%;
}

.monthSelect {
    border: none;
    font-size: medium;
}

#periode {
	border: none;
	clear: right;
	width: 80%;
}

#tablePeriode td {
    font-size: 18px;
}
.select {
    border: none;
    font-size: 15px;
    padding-top: 0ex;
}

#btnSave {
	float: right;
}
#name {
	font-size: x-large;	
}
#clientTitle{
	font-size: x-large;
}

#fournisseur {
	float: left;
	text-align: left;
	border: none;
}

#client {
	float: right;
	text-align: left;
	border: none;
}

#visaFournisseur {
	margin-top: 1em;
	float: left;
	width: 25%;
	border: none;	
}
#visaClient {
	float: right;
	width: 25%;
	margin-top: 1em;
	border: none;
}
