body, html {
    margin: 0px;
    padding: 10px;
}

.wrapper {
    margin: 0 auto;
    width: 1100px;
    height: 600px;
    background: #f0f8ff;
}

.main {
	margin-top : 1em;
    float: right;
    padding: 5px;
}

.footer {
    clear: both;
    text-align: center;
    display: none;
}

.header {
    padding: 5px;
    text-align: center;
}

.navigation {
    background: #eef0fe;
    padding: 5px 10px;
    float: left;
    width: 100px;
    height: 80%;
}