.wrapper {
    margin: 0 auto;
    width: 1100px;
    height: 600px;
    background: #f0f8ff;
    border: none;
}

.main {
	maring: 0 auto;
    padding: 0px;
    border: none;
    float: none;
}

.footer {
    clear: both;
    text-align: center;
    border: none;
}

.header {
	clear: both;
    padding: 5px;
    text-align: center;
    border: none;
    display: none;
}

.navigation {
    padding: 5px 10px;
    float: left;
    width: 100px;
    height: 80%;
    border: none;
}

.up {
	overflow: hidden;
	border: none;
}

.right {
	overflow: hidden;
	float: right;
}

.left {
	overflow: hidden;
	float: left;
}

.center {
	overflow: hidden;
	border: none;
	margin: 0 auto;
}

.down {
	border: none;
	overflow: hidden;
}

#userManagement {
	float: right;
}