 <div ng-init="init()">

	<table id="periode">
	<tr>
		<td>Période :</td>
		<td>
			<select class="select" ng-init="month = months[monthIndex]" ng-model="month" ng-options="m.label for m in months" ng-change="change()"></select>
		</td>
		<td>
			<select class="select" ng-init="year = years[yearIndex]" ng-model="year" ng-options="y for y in years" ng-change="change()"></select>
		</td>
	</tr>
	</table>
	
 	<table id="table">
 		<tr>
 			<td />
 			<td ng-repeat="day in days" class="day day{{day.type}}" >{{day.day}}</td>
 		</tr>
 		<tr>
 			<td class="tdTitle">Développement & Architecture Java JEE</td>
 			<td ng-repeat="day in days" class="day day{{day.type}}" ng-click="changeType(day)">{{day.rate}}</td>
 		</tr>
 	</table>
	
	<table border="0" class="resume">
		<tr><td>Nombre d'unités d'oeuvres réceptionnées (JH)</td><td>{{getTotal()}}</td></tr>							
		<tr><td>Nombre de jours de congés</td><td>{{getTotalOff()}}</td></tr>
	</table>							

	<button id="btnSave" ng-click="save()">Save</button>

 </div>