<div class="up">
	<div class="right" id="emissionDate">Massy, le {{emissionDate}}</div>
	<div id="left">
		<div id="name">Mahieddine M. ICHIR</div>
		Consultant Java JEE
		<div id="address">
			02 Rue du Languedoc<br />
			91300 Massy<br />
			Tél: +33 6 24 94 19 36<br />
			mail: <a href="mailto:mahieddine.ichir@free.fr">mahieddine.ichir@free.fr</a><br />
			web: <a href="http//java.michir.com">http//java.michir.com</a>
		</div>
	</div>
	<div class="right">
		<div id="clientTitle">Maileva</div>
		<div id="clientAddress">
			10 Avenue Charles de Gaulle<br />
			94673 Charenton-le-Pont Cedex
		</div>
		<div id="nCommande">N° Commande {{nCommande}}</div>
	</div>
</div>

<div ng-init="init()">

<div>
	<div id="factureTitle">Facture N° {{factureNumber()}}</div>
	Période de 01/03/2014 au 31/03/2014
</div>
	
<div class="center">
	<table class="factureTable">
		<tr class="tableTitle oddTable">
			<th>Description</th>
			<th class="center">Quantité (Jours)</th>
			<th class="center">Tarif (HT)</th>
			<th class="center">Sous total</th>
		</tr>
		<tr class="evenTable">
			<td>Développement Java JEE</td>
			<td class="numbers">{{getTotal()}}</td>
			<td class="numbers">{{tarif| euro}}</td>
			<td class="numbers">{{tarif * getTotal()| euro}}</td>
		</tr>
		<tr style="height: 1em;" class="oddTable">
			<td colspan="4"></td>
		</tr>
		<tr style="height: 1em;" class="evenTable">
			<td colspan="4"></td>
		</tr>
		<tr class="oddTable">
			<td>Total (HT)</td>
			<td />
			<td class="numbers">{{tarif| euro}}</td>
			<td class="numbers">{{x = tarif * getTotal()| euro}}</td>
		</tr>
		<tr class="evenTable">
			<td>Montant TVA ({{tva}} %)</td>
			<td />
			<td class="numbers">{{tva * tarif / 100 | euro}}</td>
			<td class="numbers">{{y = x * tva / 100| euro}}</td>
		</tr>
		<tr class="totalTable oddTable">
			<td>Total TTC</td>
			<td />
			<td />
			<td class="numbers">{{x + y | euro}}</td>
		</tr>
	</table>
</div>
</div>

<div class="down">
	<div id="tvaText">
		TVA acquittée sur les encaissements, N° : FR 2953353272700013<br />
		Pénalités de retard : 3 fois le taux d'intérêt légal annuel<br />
		Coordonnées bancaires : ING DIRECT, (BIC) IIDFFR21XXX - (IBAN) FR76 1455 9001 0040 0005 9560 931
	</div>
	<div class="center signature">
		Mahieddine M. ICHIR, Conseil & Développement JAVA JEE <br />
		02 Rue du Languedoc, 91300 Massy<br />
		N° SIREN 533 532 727
	</div>
</div>